{%  extends 'base.html' %}
{% block content%}

<form method="post">
    <h2>Enter Room Detail...</h2>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Your name" name="name" value="{{ name }}" class="form-control input-lg"/>
    </div>
    <div class="form-group">
        <label for="code">Room code:</label>
        <input type="text" id="code" placeholder="Room code" name="code" value="{{ code }}" class="form-control input-lg"/>
    </div>
    <button type="submit" name="join" class="btn btn-primary btn-lg">Join</button>
    <button type="submit" name="create" class="btn btn-success btn-lg">Create Room</button>
</form>

{% endblock %}
