{% extends 'base.html' %}

{% block content %}
<div class="message-box">
  <h2>Room code : {{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input type="text" placeholder="Message" name="message" id="message"/>
    <button type="button" name="send" id="send-btn">Send</button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();
  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const messageDiv = document.createElement("div");
    messageDiv.classList.add("text");
    const messageContent = `
      <span>
        <strong>${name}</strong>: <strong>${msg} : </strong>
      </span>
      <span class="muted">${new Date().toLocaleString()}</span>
       <h2> ------------------</h2>
    `;
    messageDiv.innerHTML = messageContent;
    messages.appendChild(messageDiv);
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const messageInput = document.getElementById("message");
    const messageText = messageInput.value.trim();
    if (messageText !== "") {
      socketio.emit("message", { data: messageText });
      messageInput.value = "";
    }
  };

  // Bind the sendMessage function to the button click event
  document.getElementById("send-btn").addEventListener("click", sendMessage);

  // Handle Enter key press to send messages
  document.getElementById("message").addEventListener("keyup", (event) => {
    if (event.key === "Enter") {
      sendMessage();
    }
  });
</script>

{% for msg in messages %}
  <script type="text/javascript">
    createMessage("{{ msg.name }}", "{{ msg.message }}");
  </script>
{% endfor %}
{% endblock %}
